.autocomplete-dropdown {
    position: absolute;
    background: var(--inputs-stroke);
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10000;
}

.autocomplete-item {
    color: var(--text-color);
    border: var(--text-stroke-width) solid var(--inputs-fill);
    padding: 6px 8px;
    cursor: pointer;
    overflow-x: hidden;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    15% { opacity: 1; transform: translateY(0); }
    85% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}