/* LOGIN FORM */

.login {
    background: var(--darkened-bg);
    height: auto;
}

div#header {
    background-color: var(--button-text-stroke);
}

.back-button {
    display: none;
}

#user-tools {
    display: none;
}

#branding {
    margin: 0 auto;
}

.login #container {
    background: var(--bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 20px 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}

input[type="submit"], button {
    background-color: var(--add-button-fill);
    -webkit-text-stroke: var(--button-text-stroke-width) var(--add-button-stroke);
    text-stroke: var(--button-text-stroke-width) var(--add-button-stroke);
    border-radius: 0;
    width: 50%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    paint-order: stroke fill;
}

input[type="submit"]:focus-visible, button:focus-visible {
    background-color: var(--add-button-fill);
    outline: none;
    box-shadow: 3px 3px 0px var(--effects-add-buttons);
    text-shadow: 3px 3px 0px var(--add-button-stroke);
    transition: box-shadow var(--transition-duration) ease, text-shadow var(--transition-duration) ease;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--add-button-fill);
    outline: var(--button-hover-outline-width) dashed var(--effects-add-buttons);
    outline-offset: 3px;
    transform: translateY(-2px);
}