{% extends "registration/password_change_form.html" %}
{% load static %}

{% block content_title %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block nav-sidebar %}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/variables.css' %}" />
  <link rel="stylesheet" href="{% static 'admin/css/password_change.css' %}" />
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if form.errors %}
      <span class="errornote">Пожалуйста, исправьте ошибки ниже.</span>
    {% endif %}

    <fieldset class="module aligned wide">
      <div class="form-row">
        {{ form.old_password.errors }}
        <div class="flex-container">
          {{ form.old_password.label_tag }}
          {{ form.old_password }}
        </div>
      </div>

      <div class="form-row">
        {{ form.new_password1.errors }}
        <div class="flex-container">
          {{ form.new_password1.label_tag }}
          {{ form.new_password1 }}
        </div>
      </div>

      <div class="form-row">
        {{ form.new_password2.errors }}
        <div class="flex-container">
          {{ form.new_password2.label_tag }}
          {{ form.new_password2 }}
        </div>
      </div>
    </fieldset>

    <div class="submit-row">
      <a href="{% url 'admin:logout' %}" class="button logout-button">Выйти из профиля</a>
      <input type="submit" value="Изменить мой пароль" class="default" />
    </div>
  </form>
{% endblock %}
