{% extends "admin/change_list.html" %}
{% load admin_urls static admin_list custom_admin_tags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/variables.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/tables_header.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/tables_bodies.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/bulk_actions_controls.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
<script src="{% static 'admin/js/admin/headers_sorting.js' %}"></script>
<script src="{% static 'admin/js/admin/bulk_actions.js' %}"></script>
<script src="{% static 'admin/js/admin/custom_autocomplete.js' %}"></script>
<script src="{% static 'admin/js/admin/autosave.js' %}"></script>
<script src="{% static 'admin/js/admin/table_search.js' %}"></script>
{% endblock %}

{% block title %}Изменить данные{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block object-tools-items %}{% endblock %}

{% block content %}
<nav class="tables-list">
  {% include "admin/app_list.html" %}
  {{ block.super }}
</nav>
{% endblock %}

{% block result_list %}
{% if action_form and actions_on_top and cl.show_admin_actions %}
{% admin_actions %}
{% endif %}
{% custom_result_list cl %}
{% endblock %}

{% block pagination %}
<div class="pagination-container">
  {{ block.super }}
</div>
<div class="bottom-buttons">
  <button type="button" id="btn-delete-selected" class="btn btn-delete">
    Удалить выбранное
  </button>
  <a href="{% url cl.opts|admin_urlname:'add' %}" class="btn btn-add">
    <span class="btn-icon">+</span>
  </a>
</div>
<!-- hiding necessary Django elements (avoiding exceptions) -->
<div class="visually-hidden" aria-hidden="true">
  <input type="checkbox" id="action-toggle">
  <button type="submit" name="index"></button>
  <span class="action-counter" data-actions-icnt="0"></span>
</div>
{% endblock %}